# **Car MPG Project**
## Loading the data

In [1]:
#import seaborn library
import seaborn as sns

In [3]:
#read in the mpg dataset and look at the top 5 rows
mpg = sns.load_dataset("mpg")
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

## Project steps
#### 1) Create a visual showing the relationship between horsepower and fuel economy

#### 2) Create a table summarizing fuel economy by country of origin

#### 3) Create a visual showing how fuel economy has changed over time

#### 4) Create two other visuals or tables related to fuel economy.